*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    min-height: 100%;
    background-color: rgb(250, 237, 225);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, 'Roboto';
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

#nav-top {
    display: flex;
    align-items: center;
    background-color: #c57f2f;
    color: white;
    padding: .3rem .3rem;
    font-size: 1.3rem;
    cursor: default;
    user-select: none;
}

#nav-top-left {
    margin-left: .3rem;
}

#nav-top-right {
    margin-left: auto;
}

#nav-top-right>a {
    margin: 0 .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: white;
}

#button-global-toggle-version {
    display: none;
}

#section-media {
    margin-top: 1.4rem;
}

#section-controller {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#container-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-controller {
    width: 100%;
    touch-action: manipulation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#panel-media {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    max-width: 20rem;
    min-height: 30rem;
}

#image-album-wrapper {
    line-height: 0;
    position: relative;
}

#image-album {
    touch-action: manipulation;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: black 0px 0px 10px;
    align-self: center;
    display: none;
}

#image-album.loaded {
    display: unset;
}

#image-album-like {
    position: absolute;
    margin: auto;
    width: 1rem;
    height: 1rem;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    color: #fd30b6;
    pointer-events: none;
    opacity: 0;
}

#image-album-like.show {
    /* Animation that enlarges and fade out at the same time */
    animation: enlargeAndFadeOut 0.6s forwards;
}

@keyframes enlargeAndFadeOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

#text-track-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#text-track-artist {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

#text-track-album {
    margin-top: 0.5rem;
    font-size: 1rem;
}

#panel-controller {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    grid-template-rows: auto 1fr 1fr;
    user-select: none;
}

.button-controller {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #1f97f8;
    transition: color 0.3s;
    outline: none;
}

.button-controller:hover {
    color: #e2e2e2;
}

#button-play-pause:hover {
    color: #53b2ff;
}

#button-prev-track,
#button-play-pause,
#button-next-track {
    grid-row: 2/-1;
}

#button-prev-track {
    grid-column: 1;
}

#button-play-pause.paused .fa-pause,
#button-play-pause.playing .fa-play {
    opacity: .2;
}

#button-volume-up,
#button-volume-down {
    grid-column: 4;
}

#button-volume-up {
    grid-row: 2;
}

#button-volume-down {
    grid-row: 3;
}

#section-debug>details>summary {
    /* Fade out after 5s */
    animation: fadeOut 1s forwards 4s;
}

#section-debug>details>summary:hover {
    animation: fadeOut 1s backwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.progress-bar-background {
    background-color: #fcfcfc;
}

.progress-bar-cursor {
    position: absolute;
    width: 5.6px;
    height: 5.6px;
    box-shadow: 0px 0px 5px 6px rgb(255 255 255 / 70%);
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(-50%);
}

.progress-bar-cursor.breathing {
    animation: breathing 2.5s infinite;
}

@keyframes breathing {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        /* box-shadow: 0px 0px 5px 4px rgb(255 255 255 / 70%); */
        transform: translateX(-50%) scale(0.6);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

#progress-bar-track-progress {
    grid-column: 1/-1;
    height: 5px;
    flex-direction: column;
    margin: 0 14px;
    position: relative;
}

#progress-bar-track-progress>.progress-bar-background {
    height: 0.7px;
}

#container-volume-level {
    grid-column: 4;
    grid-row: 2/span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#text-volume-level {
    font-size: 0.8rem;
    background: #9e9e9e;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    opacity: 0;
}

#text-volume-level.show {
    /* Fade in quickly, then after 2 secs fade out slowly */
    animation: fadeIn 0.3s forwards, fadeOut 1s forwards 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
